In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
import pickle

In [3]:
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['new_category'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0)

In [5]:
df2 = df.drop(['Category'],axis = 'columns')

In [6]:
df2.head()

                                             Message  new_category
0  Go until jurong point, crazy.. Available only ...             0
1                      Ok lar... Joking wif u oni...             0
2  Free entry in 2 a wkly comp to win FA Cup fina...             1
3  U dun say so early hor... U c already then say...             0
4  Nah I don't think he goes to usf, he lives aro...             0

In [7]:
clf = Pipeline([
    ('vectorize', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [8]:
train_x,test_x,train_y,test_y = train_test_split(df.Message,df.new_category,test_size= 0.2)

In [9]:
clf.fit(train_x,train_y)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [10]:
clf.score(test_x,test_y)

0.9856502242152466

In [14]:
with open('model_pickle','wb')as f:
    pickle.dump(clf,f)